*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  min-height: 100vh;
  background: linear-gradient(to right, #11998e, #38ef7d); 
  padding: clamp(20px, 12vw, 120px) 10px 10px;
}
.screen{
  width: 100%;
  height: 100vh;
  background-color: white;
  /* position: absolute; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active{
  background-color: #38ef7d;
}

.vitre{
  width: 80%;
  height: 700px;
  border: solid black 1px;
  overflow: hidden;
  transition: .5;
  animation: slidein ease-in .5s ;
  /* opacity: 0; */
}

@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

button:nth-child(4){
  color: blue;
  height: 20px;
}
.zone{
  margin: 0 auto;
}

